
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}
#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #2c3e50;
}
button {
    background-color: #007Bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #016fb9;
}
#story-text {
    margin-bottom: 20px;
}
#choices {
    display: flex;
    flex-direction: column;
}
#inventory, #character-info, #character-stats{
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 3px;
}

#storyInput::placeholder {
    color: #aaa; /* Faint color */
    opacity: 1; /* Full opacity */
  }


  /* General section styling */
#faq-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* Title styling */
.faq-title {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: large;
}

/* FAQ container */
.faq-item {
    color: #000000;
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

/* Question styling */
.faq-question {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

/* Answer styling */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    padding-top: 1rem;
    line-height: 1.4;
    font-size: 15px;
}

/* Expanding answer when active */
.faq-item.active .faq-answer {
    max-height: 300px;
}

/* Rotating icon when active */
.faq-item.active svg {
    transform: rotate(180deg);
}

/* Smooth transition for icons */
.faq-icon {
    transition: transform 0.5s ease-in;
}

#reportContainer {
    display: none;
}

#reportButton {
    display: none;
}